h1 { font-size: 9vh; font-weight: 600; line-height: 1.66; margin-bottom: 3vh; margin-top: 30vh; color: rgba(0, 0, 0, 0.8); }

@media only screen and (max-width: 576px) { h1 { font-size: 7vh; } }

h2 { font-size: 2rem; font-weight: 700; margin-bottom: 0; padding-top: 11vh; }

h3 { font-size: 1.4rem; font-weight: 600; }

@media only screen and (max-width: 576px) { h3 { font-size: 1.2rem; } }

h4 { font-size: 1.4rem; margin-bottom: 0; font-weight: 600; }

p { color: rgba(0, 0, 0, 0.65); line-height: 1.66; }

a { color: #1565C0; transition: all .1s ease-in-out; text-decoration: none; border-bottom: 1px solid rgba(0, 0, 0, 0.8); padding-bottom: 1px; }

a:hover { color: rgba(0, 0, 0, 0.8); padding-bottom: 3px; border-bottom: 2px solid rgba(0, 0, 0, 0.8); }

strong { font-weight: 700; }

@keyframes slideInFromLeft { 0% { transform: translateX(-150%); }
  100% { transform: translateX(0); } }

@keyframes gradient { 0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; } }

body { font-family: 'Inter', sans-serif; font-size: 16px; display: flex; flex-direction: column; padding: 0 8vw; color: rgba(0, 0, 0, 0.8); -webkit-font-smoothing: subpixel-antialiased; }

@media only screen and (max-width: 576px) { body { padding: 0 18px; } }

header { width: 60%; }

@media only screen and (max-width: 576px) { header { width: 100%; } }

header h3 { color: rgba(0, 0, 0, 0.65); letter-spacing: 1px; font-weight: 400; line-height: 166%; padding-bottom: 10vh; }

@media only screen and (max-width: 576px) { header h3 { width: 90%; } }

hr { color: rgba(0, 0, 0, 0.45); width: 100%; }

.case-studies-text { max-width: 75ch; margin: 0 auto; }

.case-studies { flex-direction: row; display: flex; }

@media only screen and (max-width: 576px) { .case-studies { flex-direction: column; } }

.case-studies .case-study { text-decoration: none; color: inherit; flex: 1; display: flex; justify-content: center; align-items: center; flex-direction: column; min-height: 30vw; text-align: center; }

@media only screen and (max-width: 576px) { .case-studies .case-study { min-height: 90vw; } }

.case-studies a { text-decoration: none; color: inherit; flex: 1; display: flex; justify-content: center; align-items: center; flex-direction: column; transition: background .1s ease-in-out; border: none; }

.case-studies a:hover { background: rgba(0, 0, 0, 0.02); }

.case-studies .coming-soon { color: rgba(0, 0, 0, 0.45); }

.about { display: flex; flex-direction: row; align-items: center; }

.about picture { border-radius: 50%; object-fit: cover; padding: 2rem; display: flex; justify-content: center; align-items: center; flex: 1; }

@media only screen and (max-width: 576px) { .about picture { padding: 2rem 0; } }

@media only screen and (max-width: 576px) { .about { flex-direction: column; } }

.about .text { flex: 2; padding: 2rem; }

@media only screen and (max-width: 576px) { .about .text { padding: 0 2rem 0 0; } }

.contact { flex-direction: row; display: flex; }

@media only screen and (max-width: 576px) { .contact { flex-direction: column; } }

.contact .contact-form, .contact .contact-list { flex: 1; display: flex; justify-content: top; align-items: center; flex-direction: column; padding: 4rem; }

@media only screen and (max-width: 576px) { .contact .contact-form, .contact .contact-list { padding: 2rem 0; } }

.contact .contact-form ul, .contact .contact-list ul { padding-left: 0; }

.contact .contact-form ul li, .contact .contact-list ul li { list-style: none; line-height: 3; }

.contact .contact-form ul svg, .contact .contact-list ul svg { margin-top: 1rem; }

.images { display: flex; justify-content: center; flex-direction: column; }

.images img, .images source { object-fit: cover; width: 100%; padding-bottom: 1rem; }

.images p { font-size: 0.9rem; font-style: italic; margin-top: 0; }

footer { color: rgba(0, 0, 0, 0.45); padding: 5vh 8vw; text-align: center; }

footer a { white-space: pre; }

@media only screen and (max-width: 576px) { footer { padding: 5vh 0; } }

form { display: flex; flex-direction: column; width: 100%; }

form h3 { white-space: nowrap; }

form label { color: rgba(0, 0, 0, 0.65); font-size: 0.8rem; }

form input[type=text], form input[type=email], form textarea { font-family: 'Inter', sans-serif; color: rgba(0, 0, 0, 0.45); border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.05); font-size: 1rem; line-height: 2rem; margin: 1rem; margin-left: 0; transition: all .2s ease-in-out; }

form input[type=text]:focus, form input[type=email]:focus, form textarea:focus { color: rgba(0, 0, 0, 0.8); outline: none; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.65); }

form button { color: #fff; background: rgba(0, 0, 0, 0.8); font-size: 1rem; line-height: 1.5rem; padding: 0.75rem 1.15rem; border: 1px solid rgba(0, 0, 0, 0.8); border-radius: 3px; width: 40%; align-self: center; transition: all .1s ease-in-out; background-size: 200% 200%; }

form button:hover { background: #fff; color: rgba(0, 0, 0, 0.8); cursor: pointer; }

nav { position: fixed; width: 84vw; height: 10vh; display: flex; flex-direction: row; justify-content: space-between; align-items: center; background: #fff; top: 0; padding: .3rem; }

@media only screen and (max-width: 576px) { nav { width: calc(100% - 36px); } }

nav .hamburger-close { display: none; }

nav .hamburger, nav .hamburger-close { cursor: pointer; }

nav #home-btn { text-decoration: none; font-weight: 800; font-size: 1.2rem; letter-spacing: 2px; color: rgba(0, 0, 0, 0.45); border: none; padding: 0; }

nav #home-btn:hover { padding: 0; color: rgba(0, 0, 0, 0.65); }

nav .menu { display: none; justify-content: center; align-items: center; position: fixed; width: 100vw; height: 90vh; overflow: hidden; z-index: 1000; top: 10vh; bottom: 0; right: 0; left: 0; background: #fff; }

nav .menu ul { list-style: none; padding-left: 0; text-align: center; }

nav .menu ul li { padding: 1.5rem; }

@media only screen and (max-width: 576px) { nav .menu ul li { padding: 1rem; } }

nav .menu ul li a { text-decoration: none; font-size: 2.5rem; font-weight: 700; color: rgba(0, 0, 0, 0.65); transition: all .1s ease-in-out; border: none; }

nav .menu ul li a:hover { color: rgba(0, 0, 0, 0.8); border-bottom: 2px solid rgba(0, 0, 0, 0.8); }

/*# sourceMappingURL=styles.css.map */